.footer {
  display: flex;
  flex: 1;
  padding: 3rem;
  border-top: 1px solid #eaeaea;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: #eaeaea;
  border-top: 2px solid black;
}